.home-header {
    background-color: rgb(233, 32, 61);
    padding: 15px 10px;

    * {
        color: #ffffff;
        font-size: 16px;
        line-height: 1;
    }
}

.home-header-left {
    width: 60px;
    font-size: 16px;
    text-align: left;
    margin: 5px 0;
}

.home-header-middle {
    width: 100%;
    font-size: 20px;
    text-align: center;
    padding-right: 60px;
}
